@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root {
    --background-black: #202022;
    --background: #00747C;
    --input-color: #00BBC9;
    --text-color-white: #FFFFFF;
    --text-color-gray: #878787;
    --text-color-gray-light: #CACACA;
}

.section {
    width: 100%;
    height: 100vh;
}

.menu__mobile {
    display: none;
}

.menu__mobile__2 {
    display: none;
}

.main__content {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;

}

.home__section {
    background: var(--background);
}


.navegation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    /* padding-right: 3rem; */

    overflow-y: hidden;
}



.home__section aside {
    display: flex;
    width: 100%;
    height: 8.7rem;


    background: var(--background-black);
}

.logo__menu {
    width: 100%;
    height: 100%;
}

.navegation ul {
    display: flex;
    width: 100%;
    justify-content: end;

    column-gap: 0.5rem;
}

.navegation ul li {
    width: 100px;
    list-style: none;
}

.navegation ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: var(--text-color-white);
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    height: 100%;
}

.navegation ul li a img:hover {
    width: 35px;
    height: 35px;
    transition: all .31s linear;
}

.about__menu,
.rank__menu,
.favoritos__menu,
.github__menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


footer {
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;

    background: var(--background-black);
}

footer .footer__container {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer address {
    font-size: 16px;
    color: var(--text-color-white);
}

footer a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color-white);
}

.footer__infos {
    display: flex;
    column-gap: 10px;
}



@media (max-width: 1280px) {
    .navegation ul {
        column-gap: 0;
    }
    
}

@media (max-width: 650px) {
    .navegation ul {
        display: none;
    }

    .navegation ul.navegation__mobile  {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
    }

    .navegation ul li {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .menu__mobile {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        margin: 2rem 1rem;
        font-size: 30px;
        cursor: pointer;
        background: red;
    }

    .menu__mobile__2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        margin: 2rem 1rem;
        font-size: 30px;
        cursor: pointer;
        background: red;
    }

    .extender__menu {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: var(--background-black);
    }

    .extender__menu ul li a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu__mobile img {
        width: 30px;
    }
}
